@model _19T1021317.Webs.Models.ProductSearchOutput
@{ Layout = null; }

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th style="width:80px">Ảnh</th>
                <th>Tên mặt hàng</th>
                <th>Đơn vị tính</th>
                <th>Giá</th>
                <th style="width:75px">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data) 
            {
                <tr>
                    <td>
                        <img src="@(item.Photo.Contains("http") == true ? item.Photo : "Photos/"+item.Photo )" style="width:80px" />
                    </td>
                    <td style="vertical-align:middle">@item.ProductName</td>
                    <td style="vertical-align:middle">@item.Unit</td>
                    <td style="vertical-align:middle">@item.Price</td>
                    <td class="text-right" style="vertical-align:middle">
                        <a href="~/product/edit/@item.ProductID" class="btn btn-xs btn-flat btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/product/delete/@item.ProductID" class="btn btn-xs btn-flat btn-danger">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="display: flex; align-items: center; justify-content: space-between">
    <div class="dataTables_info" id="pagination_info" role="status" aria-live="polite">
        Showing @Model.From to @Model.To of @Model.TotalItems entries
    </div>

    <div class="dataTables_paginate paging_simple_numbers">
        <ul class="pagination">
            <li class="paginate_button previous@(Model.Page == 1 ? " disabled" : "")">
                @if (Model.Page == 1)
                {
                    <a href="#" aria-controls="pagination" data-dt-idx="0" tabindex="0">Previous</a>
                }
                else
                {
                    <a href="javascript:" onclick="doSearch(@Model.Page - 1)" aria-controls="pagination" data-dt-idx="0" tabindex="0">Previous</a>
                }
            </li>
            @for (var i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="active">
                        <a href="#">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a onclick="doSearch(@i)" href="javascript:" aria-controls="pagination" data-dt-idx="@i" tabindex="0">@i</a>
                    </li>
                }
            }
            <li class="paginate_button next@(Model.Page == Model.PageCount ? " disabled" : "")" id="pagination_next">
                @if (Model.Page == Model.PageCount)
                {
                    <a href="#" aria-controls="pagination" data-dt-idx="7" tabindex="0">Next</a>
                }
                else
                {
                    <a href="javascript:" onclick="doSearch(@Model.Page + 1)" aria-controls="pagination" data-dt-idx="@(Model.Page + 2)" tabindex="0">Next</a>
                }
            </li>
        </ul>
    </div>
</div>

