@model _19T1021317.DomainModels.Supplier
@using _19T1021317.BusinessLayers;

<div class="box box-primary">
    <div class="box-body">
        <form action="~/supplier/save" method="post" class="form-horizontal">
            @Html.AntiForgeryToken() <!--Chỉ thị mã hóa tránh fake dữ liệu-->

            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" id="SupplierID" name="SupplierID" value="@Model.SupplierID">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="SupplierName">Supplier Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="SupplierName" name="SupplierName" value="@Model.SupplierName" placeholder="Enter Supplier Name" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="ContactName">Contact Name:</label>
                <div class="col-sm-10">
                    <input type="text"class="form-control" id="ContactName" name="ContactName" value="@Model.ContactName" placeholder="Enter Contact Name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Address">Address:</label>
                <div class="col-sm-10">
                    <input type="text"  class="form-control" id="Address" name="Address" value="@Model.Address" placeholder="Enter Address">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Phone">Phone:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone" placeholder="Enter Phone">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Country">Country:</label>
                <div class="col-sm-10">
                    <select name="Country" id="Country" class="form-control">
                        <option value=""> -- Choose Country -- </option>
                        @foreach (var item in _19T1021317.BusinessLayers.CommonDataService.ListOfCountries())
                        {
                            if (item.CountryName == Model.Country)
                            {
                                <option value="@item.CountryName" selected>@item.CountryName</option>
                            }
                            else
                            {
                                <option value="@item.CountryName">
                                    @item.CountryName
                                </option>
                            }

                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="city">City:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="City" name="City" value="@Model.City">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="postalCode">Postal Code:</label>
                <div class="col-sm-10">
                    <input type="text"  class="form-control" id="PostalCode" name="PostalCode" value="@Model.PostalCode" placeholder="Enter Postal Code">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Save
                    </button>

                    <a href="~/supplier" class="btn btn-warning">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>