@model IEnumerable<_19T1021317.DomainModels.Category>
@{
    ViewBag.Title = "Category Management";
}


<div class="box">
    <div class="box-body">
        <form action="~/category">
            <div class="input-group input-group-sm">
                <input value="@ViewBag.SearchValue" name="searchValue" type="text" class="form-control" placeholder="Search..." autofocus>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-flat">
                        <i class="glyphicon glyphicon-search"></i>
                        Search
                    </button>
                    <a href="~/category/create" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>
                        Create
                    </a>
                </span>

            </div>
        </form>
        <table class="table table-bordered table-hover table-striped">
            <thead class="bg-primary">
                <tr>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                        <td class="text-right">
                            <a href="~/category/edit/@item.CategoryID" class="btn btn-success" title="Edit">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a href="~/category/delete/@item.CategoryID" class="btn btn-danger" title="Remove">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-5">
                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing @ViewBag.From to @ViewBag.To of @ViewBag.RowCount entries</div>
            </div>
            <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers" style="margin: 0;text-align: center">
                    <ul class="pagination">
                        <li class="paginate_button previous @(ViewBag.Page == 1 ? "disabled" : "")" id="example2_previous">
                            @if (ViewBag.Page == 1)
                            {
                                <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a>
                            }
                            else
                            {
                                <a href="~/category?page=@(ViewBag.Page - 1)&searchValue=@ViewBag.SearchValue" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a>
                            }
                        </li>
                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            if (i == ViewBag.Page)
                            {
                                <li class="paginate_button active">
                                    <a href="#" aria-controls="example2" data-dt-idx="@i" tabindex="0">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="paginate_button">
                                    <a href="~/category?page=@i&searchValue=@ViewBag.SearchValue" aria-controls="example2" data-dt-idx="@i" tabindex="0">@i</a>
                                </li>
                            }
                        }
                        <li class="paginate_button next @(ViewBag.Page == ViewBag.PageCount ? "disabled" : "")" id="example2_next">
                            @if (ViewBag.Page == ViewBag.PageCount)
                            {
                                <a href="#" aria-controls="example2" data-dt-idx="@ViewBag.PageCount" tabindex="0">Next</a>
                            }
                            else
                            {
                                <a href="~/category?page=@(ViewBag.Page + 1)&searchValue=@ViewBag.SearchValue" aria-controls="example2" data-dt-idx="0" tabindex="0">Next</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>